.chart-series-line {    
    -fx-stroke-width: 2px;
    -fx-effect: null;
}
 
.default-color0.chart-series-line { -fx-stroke: blue; }
.default-color1.chart-series-line { -fx-stroke: green; }
.default-color2.chart-series-line { -fx-stroke: red; }
.default-color3.chart-series-line { -fx-stroke: purple; }
.default-color4.chart-series-line { -fx-stroke: orange; }
 
.default-color0.chart-line-symbol { -fx-background-color: transparent, transparent}
.default-color1.chart-line-symbol { -fx-background-color: transparent, transparent}
.default-color2.chart-line-symbol { -fx-background-color: transparent, transparent}
.default-color3.chart-line-symbol { -fx-background-color: transparent, transparent}
.default-color4.chart-line-symbol { -fx-background-color: transparent, transparent}
